<main class="py-4">
    <div class="product-header-container">
        <h1 id="ProductHeader" class="product-title"></h1>
    </div>
    <div class="container nutrition-container">
        <div id="NutritionDetail" class="pe-3"></div>
        <div id="IngredientsDetail" class="ps-3">
            <div class="button-container">
                <button class="btn btn-secondary" id="DownloadReportBtn">Download Report</button>
            </div>
        </div>
        <div id="ReportButtonContainer" ></div>
    </div>
</main>